@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circularOrbit {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(0, 15px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.avatar {
  animation: circularOrbit 12s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.hidden-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
